<div class="text-center">
  <h1 class="font-weight-bold">About</h1>
  <h4>ながのCAKEは全国発送可能なケーキ屋さんです。</h4>
  <h4>お子様からお年寄りの方までお召し上がりいただけるよう、</h4>
  <h4>様々なバリエーションをご用意しております。</h4>
  <h4>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h4>
  <h4>ぜひの注文ください。</h4>
</div>