<div class="container">
  <h3 style="width: 11%;  text-align: center; margin-top: 15px; background: #EEEEEE">商品編集</h3>
  <div class="form-group">
    <label for="items">商品名</label>
    <%= @items.name %>
  </div>
</div>