<div class="container">
    <h3 style="width: 20%;  text-align: center; margin: 20px 30px; background: #EEEEEE">注文情報確認</h3>
    <div class="row">
        <table>
            <tr>
                <th>支払い方法</th>
                <td style="padding: 0px 20px;">
                    <!--下記は日本語に変換するために_i18nを使用-->
                    <%= @order.payment_method_i18n %>
                </td>
            </tr>
            <tr>
                <th>お届け先</th>
                <td style="padding: 0px 20px;">
                    〒<%= @order.postal_code %>
                    <%= @order.address %><br>
                    <%= @order.name %>
                </td>
            </tr>
        </table>
    </div>
</div>