


<div class="container">
    <div class="row">
        <table>
            <tr>
                <th>支払い方法</th>
                <td>
                    <%= @order.payment_method %>
                </td>
            </tr>
            <tr>
                <th>お届け先</th>
                <td style="padding: 0px 20px;">
                    〒<%= @order.postal_code %>
                    <%= @order.address %><br>
                    <%= @order.name %>
                </td>
            </tr>
        </table>
    </div>
</div>