<div class="container">
  <div class="row">
    <table>
      <tr>
        <td>購入者</td>
        <td><%= @order.customer.last_name + f.customer.first_name %></td>
      </tr>
      <tr>
        <td>注文日</td>
        <td></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td></td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>