<div class="container">
  <div>
    <h3 style="width: 11%;  text-align: center; margin: 15px; background: #EEEEEE">商品一覧</h3>
  </div>
  <div>
    <h4>（全<%= @items.count %>件）</h4>
  </div>
  <div class="row">
    
    <table>
      <% @items.each do |item| %>
        <div class="col-md-3" style="margin: 30px 0px;">
          <div class="margin: 10px;">
            <%= image_tag item.image, :size => '200x150', class:"margin:10px;" %>
          </div>
          <div class="margin: 10px;"><%= item.name %></div>
          <div class="margin: 10px;"><%= item.add_tax_price.to_s(:dalimited) %></div>
        </div>
      <% end %>
    </table>
  </div>
</div>