<div class="container">
  <div class="row">
    <table>
      <div class="col-md-4">
        <div>
          <%= image_tag @images.image, :size => '250x250' %>
        </div>
      </div>
    </table>
  </div>
</div>